---
name: build

on:
  push:
    tags: [ "**" ]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v2
      - uses: docker/setup-qemu-action@v2
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v2
        with:
          files: "build/package/docker-bake.json"
          push: true
